<template>
    <div>
        <div class="container">
            <h2 class="text-center">Iniciar Sesion</h2>
            <m-login></m-login>
        </div>
    </div>
</template>

<script>
    import Login from '../authentication/mod/login.vue'

    export default{
        components: {
            'm-login': Login
        }
    }
</script>