<template>
    <div>
        <div class="container-fluid">
            <section class="container">
                <form autocomplete="off" @submit.prevent="register">
                    <div class="container-page">
                        <div class="col-md-6">
                            <h3 class="dark-grey">Registrarme en PceX</h3>

                            <div class="form-group col-lg-12">
                                <label>Nombre</label>
                                <input v-validate="'required'" v-model="user.name" type="text" name="nombre" class="form-control">
                                <span v-show="errors.has('nombre')" class="text-danger">{{ errors.first('nombre') }}</span>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Contraseña</label>
                                <input v-validate="'required|confirmed:confirmar'" type="password" name="contraseña"
                                       class="form-control">
                                <span v-show="errors.has('contraseña')" class="text-danger">{{ errors.first('contraseña') }}</span>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Confirmar Contraseña</label>
                                <input v-validate="'required'" v-model="user.password" type="password" name="confirmar" class="form-control">
                                <span v-show="errors.has('confirmar')" class="text-danger">{{ errors.first('confirmar') }}</span>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Correo</label>
                                <input v-validate="'required|email|confirmed:confirmar-correo'" type="email" name="correo"
                                       v-model="user.email" class="form-control">
                                <span v-show="errors.has('correo')" class="text-danger">{{ errors.first('correo') }}</span>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Confirmar Correo</label>
                                <input v-validate="'required|email'" type="email" name="confirmar-correo"
                                       class="form-control">
                                <span v-show="errors.has('confirmar-correo')" class="text-danger">{{ errors.first('confirmar-correo') }}</span>
                            </div>

                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Enviar notificaciones a este correo.
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <h3 class="dark-grey">Terminos y condiciones</h3>
                            <p>
                                Al dar click en "Registrar" aceptas con los terminos y condiciones de PceX
                            </p>
                            <!--<p>-->
                                <!--Al momento de realizar un pedido se respetarán los precios de los productos, a EXCEPCIÓN de que algún precio esté MAL CALCULADO por nuestro sistema y/o personal, y esta variación sea MAYOR al 10% del precio REAL del equipo. En ese caso nos pondremos en contacto con nuestro CLIENTE para brindarle una solución adecuada para ambas partes.-->
                            <!--</p>-->
                            <p>
                                No no hacemos responsables por ninguna perdida, el trato es directo entre usuarios
                            </p>
                            <!--<p>-->
                                <!--En ocasiones nos es necesario enviar un pedido de forma PARCIAL, es decir, con algún faltante, el cual se envía inmediatamente recibiendo la pieza por parte de nuestros proveedores. Este tipo de envío lo elegimos utilizando un criterio muy específico y sólo en casos especiales, donde consideramos que es un beneficio para nuestro CLIENTE.-->
                            <!--</p>-->

                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</template>

<script>
    export default{
        data () {
            return {
                user: {
                    client_id: 2,
                    client_secret: 'ppe2IObBXKknQ7M58o2ScYRoErRZzQlr5BRhy0si',
                    grant_type: 'password',
                    email: '',
                    password: '',
                    name: ''
                }
            }
        },
        methods: {
            register() {
                var config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                axios.post("api/users",this.user,config)
                    .then(response => {
                        if(response.data.result){
                            this.$toast('Bienvenido, registro exitoso', {
                                className: 'et-info',
                                horizontalPosition: 'center',
                                verticalPosition: 'bottom'
                            })

                            this.$router.push("/login")
                        }else{
                            this.$toast(response.data.msg, {
                                className: 'et-alert',
                                horizontalPosition: 'center',
                                verticalPosition: 'bottom'
                            })
                        }
                    });
            }
        }
    }
</script>