<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel">
                        <div class="panel-heading bg-silver">
                            <h3 class="panel-title text-center">Categorias</h3>
                        </div>
                        <div class="list-group">
                            <router-link v-for="cat in categories"
                                         :to="{name: 'view.category', params: {id: cat.id}}" class="list-group-item">
                                {{cat.description}}
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <transition name="fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                categories: null
            }
        },

        created() {
            var config = {
                headers: {
                    Authorization: 'Bearer ' + Vue.auth.getToken()
                }
            }


            axios.get('api/categories',config)
                .then(response => {
                    this.categories = response.data
                })
        }
    }
</script>