<template>
    <div>
        <div v-if="category">
            <h1>{{category.description}}</h1>
            <div class="row">
                <div class="col-md-3 form-inline">
                    <div class="form-group">
                        <label for="show">Mostrar</label>
                        <select class="form-control" name="show" id="show" v-model="counter">
                            <option value="8">8</option>
                            <option value="16">16</option>
                            <option value="32">32</option>
                            <option value="64">64</option>
                        </select>
                    </div>
                </div>
            </div>
            <paginate-links for="products" :show-step-links="true"></paginate-links>
            <paginate name="products" :list="products" :per="counter" class="landing-list">
                <transition-group name="fade">
                    <div v-if="products.length == 0">
                        <h2 class="landing-heading">
                            <small>Aun no tenemos ningun producto</small>
                        </h2>
                    </div>
                    <li class="col-xs-12 col-sm-4 col-md-3" v-for="(product,index) in paginated('products')"
                        :data-index="index" :key="product">
                        <div class="thumbnail">
                            <router-link :to="{name: 'view.product', params: {id: product.id}}">
                                <img :src="product.media[0].path" class="catalog-thumbnail" alt="">
                            </router-link>
                            <div class="caption">
                                <h4 class="pull-right">${{product.price}}</h4>
                                <h4>
                                    <router-link :to="{name: 'view.product', params: {id: product.id}}">{{product.name}}
                                    </router-link>
                                    - Existencias({{product.stock}})
                                </h4>
                                <p class="item-clamp">
                                    {{product.description | truncate(60) }}
                                </p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{product.comments.length}} Comentarios</p>
                                <p class="item-clamp">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                </transition-group>
              </paginate>
            <div class="clearfix"></div>
            <paginate-links for="products" :show-step-links="true"></paginate-links>
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                products: [],
                paginate: ['products'],
                category: null,
                counter: 8
            }
        },

        watch: {
            '$route' (to, from){
                this.loadProducts()
                this.counter = 8
            }
        },
        created() {
            this.loadProducts()
        },

        methods: {
            loadProducts() {
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let id = this.$route.params.id


                axios.get('api/categories/' + id, config)
                    .then(response => {
                        this.category = response.data
                        this.products = response.data.products
                    })
            }
        },
        filters: {
            truncate(text, stop, clamp) {
                return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
            }
        },
    }
</script>