<template>
    <div>
        <main-menu></main-menu>
        <div class="content">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>
        <div class="spacer"></div>
        <m-footer></m-footer>
    </div>
</template>

<script>
    import Navbar from './navbar/Navbar.vue'
    import Footer from './footer/footer.vue'

    export default {
        components: {
            'main-menu': Navbar,
            'm-footer': Footer
        }
    }
</script>