<template>
    <div>
        <h1>Feed</h1>
        <ul>
            <li v-for="product in products">
                {{product.name}} | {{product.price}}
            </li>
        </ul>
    </div>
</template>

<script>

    export default {
        data (){
            return {
                products: []
            }
        },

        created() {

            var config = {
                headers: {
                    Authorization: 'Bearer ' + Vue.auth.getToken()
                }
            }

            axios.get("api/products",config)
                .then(response => {
                    this.products = response.data
                })

            axios.get('api/users',config)
                .then(response => {
                    console.log(response)
                })
        }
    }


</script>