<template>
    <div>
        <div class="container">
            <h1 class="landing-heading">Productos mas recientes</h1>
            <hr class="landing-separator">
            <paginate-links for="products" :simple="{
                                    next: 'Siguiente »',
                                    prev: '« Atras'
                                  }">
            </paginate-links>
            <paginate name="products" :list="products" :per="6" class="landing-list animated fadeIn">
                <div v-if="products.length == 0">
                    <h2 class="landing-heading">
                        <small>Aun no tenemos ninguna producto</small>
                    </h2>
                </div>
                <li class="col-xs-12 col-sm-6 col-md-4 animated" v-for="(product,index) in paginated('products')"
                    :data-index="index" :key="product">
                    <div class="thumbnail">
                        <router-link :to="{name: 'view.product', params: {id: product.id}}" >
                        <img :src="product.media[0].path" class="landing-thumbnail" alt="">
                        </router-link>
                        <div class="caption">
                            <h4 class="pull-right">${{product.price}}</h4>
                            <h4><router-link :to="{name: 'view.product', params: {id: product.id}}" >{{product.name}} </router-link>- Existencias({{product.stock}})</h4>
                            <p class="item-clamp">
                                {{product.description | truncate(60) }}
                            </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">{{product.comments.length}} Comentarios</p>
                            <p class="item-clamp">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </li>
            </paginate>
            <paginate-links for="products" :simple="{
                                    next: 'Siguiente »',
                                    prev: '« Atras'
                                  }">
            </paginate-links>
        </div>
    </div>
</template>
<script>
    //    import Velocity from 'velocity-animate'
    export default {
        data() {
            return {
                products: [],
                paginate: ['products']
            }
        },

        mounted() {
            axios.get("api/landing")
                .then(response => {
                    this.products = response.data
                })
        },

        filters: {
            truncate(text, stop, clamp) {
                return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
            }
        },
        transition: {
            'task': {
                enterClass: 'zoomIn',
                leaveClass: 'zoomOut'
            }
        }
    }

</script>