<template>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <router-link to="/landing" class="navbar-brand">
                        <img src="/img/logo.png">
                    </router-link>
                </div>
                <div id="navbar" class="collapse navbar-collapse main-menu">
                    <ul class="nav navbar-nav">
                        <router-link tag="li" to="/landing">
                            <a><i class="fa fa-home fa-fw" aria-hidden="true"></i> Inicio</a>
                        </router-link>
                        <router-link to="/admin" tag="li" v-show="isAdmin">
                            <a><i class="fa fa-cogs fa-fw" aria-hidden="true"></i> Administrar</a>
                        </router-link>
                        <router-link tag="li" to="/cat/1">
                            <a>Catalogo</a>
                        </router-link>
                        <router-link tag="li" to="/search">
                            <a>Buscar</a>
                        </router-link>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="btn btn-success">
                                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
                                Carrito <span class="badge">10</span></a>
                        </li>
                        <li v-if="isAuthenticated" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <img :src="authenticatedUser.avatar" class="img-circle avatar-navbar"/>
                                {{authenticatedUser.name}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <router-link tag="li" :to="{name: 'user.products', params: {id: authenticatedUser.id}}">
                                    <a>Ver Perfil</a>
                                </router-link>
                                <!--<li><a href="#">Another action</a></li>-->
                                <!--<li><a href="#">Another action</a></li>-->
                                <li role="separator" class="divider"></li>
                                <li><a href="#" @click="logout">Salir</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" v-if="!isAuthenticated">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Iniciar Sesion</b> <span
                                    class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <m-login></m-login>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>
</template>

<script>

    import Login from '../authentication/mod/login.vue'
    import {mapGetters} from 'vuex'

    export default{

        computed: mapGetters([
            'isAuthenticated',
            'authenticatedUser',
            'isAdmin'
        ])
        ,

        methods: {
            logout() {

                this.$auth.destroyToken()

//                this.$store.dispatch('isAuthenticated',this.$auth.isAuthenticated())


                this.$router.push("/")
            }
        },

        components: {
            'm-login': Login
        }
    }
</script>