<template>
    <div>
        <div v-if="user" class="container-fluid">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img :src="user.avatar" class="img-responsive" alt="Profile Pic">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                {{user.name}}
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons" v-if="authenticatedUser.id != user.id">
                            <button type="button" class="btn btn-success btn-sm">Seguir</button>
                            <!--<button type="button" class="btn btn-danger btn-sm">Message</button>-->
                        </div>
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <router-link tag="li" :to="{name: 'user.products', params: {id: user.id}}">
                                    <a>
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        Productos
                                    </a>
                                </router-link>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                                        Wishlist </a>
                                </li>
                                <router-link v-if="authenticatedUser.id == user.id" tag="li" :to="{name: 'user.update', params: {id: user.id}}">
                                    <a>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        Actualizar Información
                                    </a>
                                </router-link>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-content">
                        <transition name="fade" mode="out-in">
                            <router-view></router-view>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data () {
            return {
                user: null,
                path: '',
            }
        },
        computed: mapGetters([
            'authenticatedUser'
        ])
        ,
        watch: {
            '$route' (to, from){
                this.loadUser()
            }
        },
        created() {
            this.loadUser()
        },
        methods: {
            loadUser() {
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let id = this.$route.params.id

                axios.get('api/users/' + id, config)
                    .then(response => {
                        this.user = response.data
                    })
            }
        },
        filters: {
            formatNumber(text) {
                return "$ " + parseFloat(text).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
            }
        },
    }
</script>