<template>
    <div>
        <div v-if="user" class="container-fluid">
            <div class="input-group">
                <form id="avatarU" class="form-horizontal" enctype="multipart/form-data" @submit.prevent="updateAvatar">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-sm">Actualizar Avatar</button>
                    </span>
                    <input type="file" name="avatar" class="form-control">
                </form>
            </div><!-- /input-group -->
            <hr>
            <form class="form-horizontal" @submit.prevent="updateUser">
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" id="nombre" class="form-control" v-model="user.name"/>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" class="form-control" v-model="user.email"/>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="checkbox" v-model="updatePass"/>
                    <div v-if="updatePass">
                        <input type="password" id="password" class="form-control" v-model="user.password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday">Fecha de nacimiento</label>
                    <input type="date" id="birthday" v-model="user.birthday" class="form-control"/>
                </div>
                <div class="btn-group pull-right" role="group">
                    <button type="submit" class="btn btn-success">Actualizar</button>
                    <button type="button" class="btn btn-danger" v-on:click="ultima()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data () {
            return {
                user: null,
                path: '',
                updatePass: false
            }
        },
        computed: mapGetters([
            'authenticatedUser'
        ])
        ,
        watch: {
            '$route' (to, from){
                this.loadUser()
            }
        },
        created() {
            this.loadUser()
        },
        methods: {
            loadUser() {
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let id = this.$route.params.id

                axios.get('api/users/' + id, config)
                    .then(response => {
                        this.user = response.data
                    })
            },
            updateUser(){

                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let id = this.$route.params.id

                axios.put('api/users/' + id,this.user, config)
                    .then(response => {
                        this.$toast(response.data.msg, {
                            className: 'et-success',
                            horizontalPosition: 'center',
                            verticalPosition: 'bottom'
                        })
                    })

                this.$auth.setAuthenticatedUser(this.user)
                this.$store.dispatch('authenticatedUser',this.user)


                this.$router.go(window.history.back());
            },
            updateAvatar(){
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                var form = document.querySelector('#avatarU')

                var data = new FormData(form)

                axios.post('api/avatar/user/'+this.user.id,data,config)
                    .then(response => {
                        this.$toast(response.data.msg, {
                            className: 'et-success',
                            horizontalPosition: 'center',
                            verticalPosition: 'bottom'
                        })

                        this.user.avatar = response.data.url

                        this.$auth.setAuthenticatedUser(this.user)
                        this.$store.dispatch('authenticatedUser',this.user)

                        this.ultima();
                    });
            },
            ultima(){
                this.$router.go(window.history.back());
            }
        },
        filters: {
            formatNumber(text) {
                return "$ " + parseFloat(text).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
            }
        },
    }
</script>