// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "~bootstrap-select/dist/css/bootstrap-select.css";

body {
  font-family: 'Lato', sans-serif;
  background: #ecf0f5 !important;
}

.main-menu {
  margin-top: 20px;
}

.navbar {
  min-height: 100px !important
}

.content {
  margin-top: 120px;
}

/*
Elimina el padding que hay en el container fluid para el carrusel
 */
.main-carousel {
  padding-left: 0;
  padding-right: 0;
}

#ofertas-carousel {
  height: 90vh;
}

.carousel-inner > .item > img {
  width: 100vw;
  height: 90vh;
}

/*
Lagin DP
 */
#login-dp {
  min-width: 350px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
}

#login-dp .help-block {
  font-size: 12px
}

#login-dp .bottom {
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

.btn-fb:hover {
  color: #fff;
  background-color: #496ebc
}

.btn-tw {
  color: #fff;
  background-color: #55acee;
}

.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media(max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}

.slider-img {
  height: 314px;
}

.navbar-default .navbar-nav > .active {
  border-bottom: solid 1px #e3e3e3;
  background: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: solid 1px #e3e3e3;
  background: none;
}

footer {
  min-height: 350px;
}

.footerleft {
  margin-top: 50px;
  padding: 0 36px;
}

.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.footerleft p {
  color: #fff;
  font-size: 12px !important;
}

.footerleft p i {
  width: 20px;
  color: #999;
}

.paddingtop-bottom {
  margin-top: 50px;
}

.footer-ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
}

.footer-ul li {
  line-height: 29px;
  font-size: 12px;
}

.footer-ul li a {
  color: #a0a3a4;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
  margin-right: 10px;
}

.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #18bc9c;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

.icon {
  float: left;
  margin-right: 5px;
}

.copyright {
  min-height: 40px;
  background-color: #000000;
}

.copyright p {
  text-align: left;
  color: #FFF;
  padding: 10px 0;
  margin-bottom: 0px;
}

.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}

.post p {
  font-size: 12px;
  color: #FFF;
  line-height: 20px;
}

.post p span {
  display: block;
  color: #8f8f8f;
}

.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}

.bottom_ul li {
  float: left;
  line-height: 40px;
}

.bottom_ul li:after {
  content: "/";
  color: #FFF;
  margin-right: 8px;
  margin-left: 8px;
}

.bottom_ul li a {
  color: #FFF;
  font-size: 12px;
}

.spacer {
  margin: 0;
  padding: 0;
  height: 50px;
}

.et-wrapper.et-success{
  background-color: rgba(43, 100, 50, 0.8) !important;
}

.avatar-navbar{
  width: 32px;
}

.landing-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.landing-thumbnail {
  max-height: 240px;
  background: #e3e3e3;
}

.pag-container{
  height: auto;
}

.catalog-thumbnail{
  min-height: 228px;
  background: #e3e3e3;
}

@media (min-width: 992px) {
  .landing-thumbnail {
    max-height: 257px;
  }

  .catalog-thumbnail {
    min-height: 124px;
  }

  .pag-container{
    height: 695px;
  }
}

@media (min-width: 1200px) {
  .landing-thumbnail {
    min-height: 255px;
  }

  .catalog-thumbnail{
    min-height: 189px;
  }

  .pag-container{
    height: 590px;
  }
}

@media (min-width: 1920px) {
  .catalog-thumbnail{
    min-height: 262px;
  }
  .pag-container{
    height: 650px;
  }
}

.paginate-links{
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 10px;
  }
}

.paginate-links.products {
  user-select: none;
  a {
    cursor: pointer;
  }
  li.active a {
    cursor:pointer;
    font-weight: bold;
  }
  li.next:before {
    content: ' | ';
    margin-right: 13px;
    color: #ddd;
  }
  li.disabled a {
    color: #ccc;
    cursor: no-drop;
  }
}

.landing-heading{
  font-weight: bold;
  text-align: center;
}

hr.landing-separator {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0.5em 0;
}
hr.landing-separator:before {
  top: -0.5em;
  height: 1em;
}
hr.landing-separator:after {
  content:'';
  height: 0.5em;
  top: 1px;
}

hr.landing-separator:before, hr.landing-separator:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr.landing-separator, hr.landing-separator:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
}


.info-box{
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  border-radius: 2px;
  margin-bottom: 15px;
}

.info-box-icon{
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  //background: rgba(0,0,0,0.2);
}

.info-box-content{
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-text{
  text-transform: uppercase;
}

.info-box-number{
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.bg-purple{
  background: #9b59b6;
}

.bg-clouds{
  background: #ecf0f1;
}

.bg-silver{
  background: #bdc3c7;
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}


//Profile
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 90%;
  height: 90%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


.list-profile{
  list-style: none;
}

.product-media{
  margin-top: 30px !important;
}

.product-profile{
  height: 72px;
}

.swal2-textarea{
  resize: vertical;
}