<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel">
                        <div class="panel-heading bg-clouds">
                            <h3 class="panel-title text-center">Administrador</h3>
                        </div>
                        <div class="list-group">
                            <router-link to="dashboard" class="list-group-item">
                               Dashboard <i class="fa fa-tachometer fa-fw pull-right" aria-hidden="true"></i>
                            </router-link>
                            <a class="list-group-item disabled">
                                Usuarios <i class="fa fa-users fa-fw pull-right" aria-hidden="true"></i>
                            </a>
                            <router-link to="users" class="list-group-item">
                                Lista
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <transition name="fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{}
</script>