<template>
    <div>
        <form id="login-form" @submit.prevent="login">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="sr-only" for="email">Correo</label>
                        <input v-model="email" type="email" class="form-control" id="email" name="email"
                               placeholder="Correo" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Contraseña</label>
                        <input v-model="password" type="password" class="form-control" id="password"
                               name="password" placeholder="Contraseña" required>
                        <div class="help-block text-right"><a
                                href="">Olvidaste tu contraseña?</a></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Entrar
                        </button>
                    </div>
                </div>
                <div class="bottom text-center">
                    Nuevo por aqui ?
                    <router-link to="register"><b>Unete</b></router-link>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default{
        data () {
            return {
                email: '',
                password: ''
            }
        },

        methods: {
            login () {

                var data = {
                    client_id: 2,
                    client_secret: 'ThKBhotT8lQhjLfGQ9E7xJ614hqCG73R658WqPrP',
                    grant_type: 'password',
                    username: this.email,
                    password: this.password
                }

                axios.post("oauth/token", data)
                    .then(response => {

                        let date = Math.floor(Date.now() / 1000);

                        console.log(date)
                        console.log(date+response.data.expires_in)
                        this.$auth.setToken(response.data.access_token,date + response.data.expires_in)

                        if (this.$auth.isAuthenticated()) {

                            var config = {
                                headers: {
                                    Authorization: 'Bearer ' + Vue.auth.getToken()
                                }
                            }

                            axios.get('api/user',config)
                                .then(response => {
                                    this.$auth.setAuthenticatedUser(response.data)

                                    this.$store.dispatch('authenticatedUser',response.data)

                                    axios.get('api/isAdmin',config)
                                        .then(response => {
                                            let isAdmin = response.data.isAdmin;
                                            if(isAdmin){
                                                this.$store.dispatch('isAdmin',isAdmin)
                                            }
                                        })

                                    var userName = this.$store.getters.authenticatedUser
                                    this.$toast('Bienvenido '+userName.name, {
                                        className: 'et-success',
                                        horizontalPosition: 'center',
                                        verticalPosition: 'bottom'
                                    })

                                    this.$store.dispatch('isAuthenticated', this.$auth.isAuthenticated())

                                    this.$router.push("/")
                                })
                                .catch(error => {
                                    this.$toast('Ocurrio un error favor de comunicarse con el administrador.', {
                                        className: 'et-alert',
                                        horizontalPosition: 'center',
                                        verticalPosition: 'bottom'
                                    })
                                });
                        }
                    })
                    .catch(error => {
                        this.$toast('Usuario/Contraseña incorrectos', {
                            className: 'et-alert',
                            horizontalPosition: 'center',
                            verticalPosition: 'bottom'
                        })
                    })
            }
        }
    }
</script>