<template>
    <div>
        <footer class="bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 footerleft ">
                        <div class="logofooter"> <img src="/img/logo.png"></div>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <p><i class="fa fa-map-pin"></i>
                            210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
                        <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
                        <p><i class="fa fa-envelope"></i> E-mail : info@crystalsoft.com.mx</p>

                    </div>
                    <div class="col-md-2 col-sm-6 paddingtop-bottom">
                        <h6 class="heading7">GENERAL LINKS</h6>
                        <ul class="footer-ul">
                            <li><a href="#"> Career</a></li>
                            <li><a href="#"> Privacy Policy</a></li>
                            <li><a href="#"> Terms & Conditions</a></li>
                            <li><a href="#"> Client Gateway</a></li>
                            <li><a href="#"> Ranking</a></li>
                            <li><a href="#"> Case Studies</a></li>
                            <li><a href="#"> Frequently Ask Questions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 paddingtop-bottom">
                        <!--<h6 class="heading7">LATEST POST</h6>-->
                        <!--<div class="post">-->
                            <!--<p>-->
                                <!--facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span>-->
                            <!--</p>-->
                        <!--</div>-->
                    </div>
                    <div class="col-md-3 col-sm-6 paddingtop-bottom">
                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline"
                             data-height="300" data-small-header="false" style="margin-bottom:15px;"
                             data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/facebook"><a
                                        href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer start from here-->

        <div class="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p>© 2016 - PceX</p>
                </div>
                <div class="col-md-6">
                    <ul class="bottom_ul">
                        <!--<li><a href="#">webenlance.com</a></li>-->
                        <li><a href="#">Sobre nosotros</a></li>
                        <!--<li><a href="#">Blog</a></li>-->
                        <!--<li><a href="#">Faq's</a></li>-->
                        <!--<li><a href="#">Contact us</a></li>-->
                        <!--<li><a href="#">Site Map</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>