<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" @click="buscar">Ir!</button>
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar..." v-model="find">
                    </div><!-- /input-group -->
                </div>
            </div>
            <hr>
            <div class="panel panel-primary" id="resultados">
                <div class="panel-heading">
                    <h3 class="panel-title">Resultados</h3>
                </div>
                <div class="panel-body">
                    <paginate name="products" :list="products" :per="10" class="list-profile">
                        <div v-if="products.length == 0">
                            <h2 class="landing-heading">
                                <small>No hay resultados</small>
                            </h2>
                        </div>
                        <li class="col-md-12" v-for="(product,index) in paginated('products')"
                            :data-index="index" :key="product">
                            <div class="media product-media">
                                <div class="media-left">
                                    <a href="#">
                                        <img :src="product.media[0].path" class="product-profile" alt="">
                                    </a>
                                </div>

                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="media-heading">{{product.name}}</h3>
                                            {{product.description | truncate(100) }}
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn-group" role="group" aria-label="...">
                                                <router-link class="btn btn-info btn-sm" :to="{name: 'view.product', params: {id: product.id}}">
                                                    Ver
                                                </router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </li>
                    </paginate>
                    <paginate-links for="products" :show-step-links="true"></paginate-links>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Paginate from "vue-paginate/src/components/Paginate";

    export default {
        components: {Paginate},
        data () {
            return {
                products: [],
                paginate: ['products'],
                path: '',
                id: null,
                find: ''
            }
        },
        methods: {
            buscar(){

                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let data = {
                    'find': this.find
                }
                axios.post('api/search/products',data,config)
                    .then(response => {
                        this.products = response.data
                    });
            }
        },
        filters: {
            formatNumber(text) {
                return "$ " + parseFloat(text).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
            },
            truncate(text, stop, clamp) {
                return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
            }
        },
    }
</script>