<template>
    <div>
        <div v-if="product" class="container">
            <h2 class="text-uppercase">
                {{product.name}}
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item" v-for="media in product.media">
                                    <img v-on:click="switchImg" :src="media.path" class="img-responsive"
                                         :alt="product.name">
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <img :src="path" class="img-responsive img-thumbnail">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <dl>
                                <dt>Precio:</dt>
                                <dd class="text-danger h3">{{product.price | formatNumber}}
                                    <small>sin iva</small>
                                </dd>
                                <dt>Existencias</dt>
                                <dd>{{product.stock}}</dd>
                                <dt>Información</dt>
                                <dd>{{product.description}}</dd>
                            </dl>
                            <hr>
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary">Agregar a Carrito</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" @click="addComment()">Comentar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="text-center">Comentarios</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <h2 class="landing-heading" v-if="comments.lenght == 0">
                                <small>Aun no hay ningun comentario</small>
                            </h2>
                            <div class="media" v-if="comments.length != 0" v-for="comment in comments">
                                <div class="media-left">
                                    <router-link :to="{name: 'user.products', params: {id: comment.user.id}}">
                                        <img class="media-object"
                                             :src="comment.user.avatar"
                                             alt="user avatar"
                                             height="64px">
                                    </router-link>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <router-link :to="{name: 'user.products', params: {id: comment.user.id}}">
                                            {{comment.user.name}}
                                        </router-link>
                                        <small class="text-warning">
                                            <i class="fa fa-star" aria-hidden="true" v-for="n in comment.rating"></i>
                                        </small>
                                    </h4>
                                    <p>
                                        {{comment.comment}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                product: null,
                path: '',
                comments: null
            }
        },
        watch: {
            '$route' (to, from){
                this.loadProduct()
            }
        },
        created() {
            this.loadProduct()
        },
        methods: {
            loadProduct() {
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let id = this.$route.params.id

                axios.get('api/products/' + id, config)
                    .then(response => {
                        this.product = response.data
                        this.comments = this.product.comments
                        this.path = this.product.media[0].path
                    })
            },
            switchImg(event) {
                if (this.path != event.target.src) {
                    this.path = event.target.src
                }
            },
            addComment(){
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let $this = this;


                this.$swal({
                    title: 'Escribe un comentario',
                    input: 'textarea',
                    showCancelButton: true,
                    confirmButtonText: 'Comentar',
                    cancelButtonText: 'Cancelar',
                    showLoaderOnConfirm: true,
                    preConfirm: function (text) {
                        return new Promise(function (resolve, reject) {
                            if (text === '') {
                                reject('Debes escribir algo !.')
                            } else {

                                let data = {
                                    'comment': text
                                }

                                axios.post('api/comment/'+$this.product.id,data,config)
                                    .then(response => {
                                        $this.$toast(response.data.msg, {
                                            className: 'et-success',
                                            horizontalPosition: 'center',
                                            verticalPosition: 'bottom'
                                        })
                                        $this.loadProduct()
                                    });
                                resolve()
                            }
                        })
                    },
                    allowOutsideClick: false
                }).then(function (text) {
                    $this.$swal({
                        type: 'success',
                        title: 'Comentario agregado !'
                    })
                })
            }
        },
        filters: {
            formatNumber(text) {
                return "$ " + parseFloat(text).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
            }
        },
    }
</script>