<template>
    <div>
        <div v-if="products" class="row">
            <router-link v-if="authenticatedUser.id == id" class="btn btn-info col-md-12" :to="{name: 'user.products.new'}">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Producto
            </router-link>
            <paginate name="products" :list="products" :per="8" class="list-profile">
                <div v-if="products.length == 0">
                    <h2 class="landing-heading">
                        <small>No hay ningun producto</small>
                    </h2>
                </div>
                <li class="col-md-12" v-for="(product,index) in paginated('products')"
                    :data-index="index" :key="product">
                    <div class="media product-media">
                        <div class="media-left">
                            <a href="#">
                                <img :src="product.media[0].path" class="product-profile" alt="">
                            </a>
                        </div>

                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <h3 class="media-heading">{{product.name}}</h3>
                                    {{product.description | truncate(100) }}
                                </div>
                                <div class="col-md-3">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <router-link v-if="authenticatedUser.id == id" class="btn btn-warning btn-sm" :to="{name: 'user.products.view', params: {prod: product.id}}">
                                            Editar
                                        </router-link>
                                        <router-link class="btn btn-info btn-sm" :to="{name: 'view.product', params: {id: product.id}}">
                                            Ver
                                        </router-link>
                                        <button v-if="authenticatedUser.id == id" type="button" class="btn btn-danger btn-sm" @click="deleteProduct(product.id,product.name)">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </li>
            </paginate>
            <paginate-links for="products" :show-step-links="true"></paginate-links>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Paginate from "vue-paginate/src/components/Paginate";

    export default {
        components: {Paginate},
        data () {
            return {
                products: [],
                paginate: ['products'],
                path: '',
                id: null
            }
        },
        computed: mapGetters([
            'authenticatedUser'
        ]),
        watch: {
            '$route' (to, from){
                this.loadProducts()
            }
        },
        created() {
            this.loadProducts()
        },
        methods: {
            loadProducts() {
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let id = this.$route.params.id
                this.id = id;

                axios.get('api/user/products/' + id, config)
                    .then(response => {
                        this.products = response.data
                    })
            },
            deleteProduct(id,name){
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let $this = this;

                this.$swal({
                    title: 'Estas seguro?',
                    text: "Estas apunto de eliminar el producto '"+name+"', no podras recuperarlo despues.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, eliminar',
                    cancelButtonText:  'Cancelar'
                }).then(function () {
                    axios.delete('api/products/' + id, config)
                        .then(response => {
                            $this.$toast(response.data.msg, {
                                className: 'et-success',
                                horizontalPosition: 'center',
                                verticalPosition: 'bottom'
                            })

                            $this.loadProducts();
                        })
                });

            }
        },
        filters: {
            formatNumber(text) {
                return "$ " + parseFloat(text).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
            },
            truncate(text, stop, clamp) {
                return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
            }
        },
    }
</script>