<template>
    <div>
        <div v-if="categories" class="row">
            <div class="col-md-12">
                <h3>Nuevo Producto</h3>
                <form class="form-horizontal" enctype="multipart/form-data" @submit.prevent="newProduct">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text"class="form-control" name="nombre" id="nombre">
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input type="number" name="price" class="form-control" min="0" step="0.01" id="price">
                    </div>
                    <div class="form-group">
                        <label for="categories">Categoria</label>

                        <select class="form-control" id="categories" name="category">
                            <option v-for="category in categories" v-bind:value="category.id">
                                {{ category.description }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input type="number" class="form-control" min="0" id="stock" name="stock">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="descripcion" style="resize: vertical;" name="description"></textarea>
                    </div>
                    <hr>
                    <div class="form-group" id="media">
                        <div class="row" v-for="n in mediaCount">
                            <div class="col-md-6">
                                <input type="file" name="media[]" class="form-control" accept="image/*">
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <div class="btn-group pull-right" role="group">
                                    <button v-if="n == 1" type="button" class="btn btn-success" @click="addMedia()"><i
                                            class="fa fa-plus" aria-hidden="true"></i></button>
                                    <button v-if="n == 1" type="button" class="btn btn-danger" @click="removeRow()"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group pull-right" role="group">
                        <button type="submit" class="btn btn-success">Agregar</button>
                        <button type="button" class="btn btn-danger" v-on:click="ultima()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    //    import vSelect from "vue-select"
    export default{

//        components: {vSelect},
        data() {
            return {
                categories: null,
                mediaCount: 1
            }
        },
        watch: {
            '$route' (to, from){
                this.loadCat()
            }
        },
        created() {
            this.loadCat()
        },
        methods: {
            loadCat() {
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                axios.get('api/categories', config)
                    .then(response => {
                        this.categories = response.data
                    })
            },
            addMedia(){
                if (this.mediaCount < 5) {
                    this.mediaCount++;
                }

            },
            removeRow(){
                if (this.mediaCount > 1) {
                    this.mediaCount--;
                }
            },
            newProduct(){
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                var form = document.querySelector('form')

                var data = new FormData(form)

                axios.post('api/products',data,config)
                    .then(response => {
                        this.$toast(response.data.msg, {
                            className: 'et-success',
                            horizontalPosition: 'center',
                            verticalPosition: 'bottom'
                        })

                        this.ultima();
                    });

            }
            ,
            ultima(){
                this.$router.go(window.history.back());
            }
        },
        filters: {
            formatNumber(text) {
                return "$ " + parseFloat(text).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
            },
            truncate(text, stop, clamp) {
                return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
            }
        }
    }
</script>