<template>
    <div>
        <div v-if="product" class="row">
            <div class="col-md-12">
                <h3>Editar Producto</h3>
                <form class="form-horizontal" @submit.prevent="updateProduct">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" v-model="product.name">
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input type="number" class="form-control" min="0" step="0.01" id="price" v-model.number="product.price">
                    </div>
                    <div class="form-group">
                        <label for="categories">Categoria</label>

                        <select class="form-control" id="categories" v-model="product.category_id">
                            <option v-for="category in categories" v-bind:value="category.id">
                                {{ category.description }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input type="number" class="form-control" min="0" id="stock" v-model="product.stock">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="descripcion" v-model="product.description" style="resize: vertical;"></textarea>
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <button type="submit" class="btn btn-success">Actualizar</button>
                        <button type="button" class="btn btn-danger" v-on:click="ultima()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
//    import vSelect from "vue-select"
    export default{

//        components: {vSelect},
        data() {
            return {
                product: null,
                categories: null
            }
        },
        watch: {
            '$route' (to, from){
                this.loadProduct()
            }
        },
        created() {
            this.loadProduct()
        },
        mounted() {
        },
        methods: {
            loadProduct() {
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let id = this.$route.params.prod

                axios.get('api/products/' + id, config)
                    .then(response => {
                        this.product = response.data
                    })

                axios.get('api/categories',config)
                    .then(response => {
                        this.categories = response.data
                    })
            },
            updateProduct(){
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + Vue.auth.getToken()
                    }
                }

                let id = this.$route.params.prod

                axios.put('api/products/' + id,this.product, config)
                    .then(response => {
                        this.$toast(response.data.msg, {
                            className: 'et-success',
                            horizontalPosition: 'center',
                            verticalPosition: 'bottom'
                        })

                        this.ultima();
                    })

            },
            ultima(){
                this.$router.go(window.history.back());
            }
        },
        filters: {
            formatNumber(text) {
                return "$ " + parseFloat(text).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
            },
            truncate(text, stop, clamp) {
                return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
            }
        }
    }
</script>